# node_modules：依赖包
node_modules/

# VitePress 构建输出
.vitepress/dist/

# Vite 缓存目录
.vite/

# Mac 系统文件
.DS_Store

# log 文件
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# 编辑器配置文件
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.idea/
.vscode/

# 环境变量文件（如包含敏感信息）
.env*
!.env.example